<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mobile.martinshare.com.martinshare">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="mobile.martinshare.com.martinshare.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="mobile.martinshare.com.martinshare.permission.C2D_MESSAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MSTheme">

        <activity
            android:name=".activities.MainView.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.MainView.EinstellungenTab.BenachrichtigungenActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.MainView.EinstellungenTab.AppPreference"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.update.UpdateEintraege"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.eintragen.Eintragen"
            android:label="Eintragen"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.login.LoginScreen"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.stundenplan.StundenplanActivity"
            android:label="@string/title_activity_stundenplan"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.vertretungsplan.Vertretungsplan"
            android:label="@string/title_activity_vertretungsplan"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.info.InfoActivity"
            android:label="@string/title_activity_vertretungsplan"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.versionhistory.VersionHistory"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <receiver android:name=".activities.MainView.NotificationPublisher" />

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- for Gingerbread GSF backward compat -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="mobile.martinshare.com.martinshare" />
                <!-- <category android:name="mobile.martinshare.com.martinshare.gcm" /> -->
            </intent-filter>
        </receiver>

        <service
            android:name=".PushStuff.GcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <service
            android:name=".PushStuff.InstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

    </application>
</manifest>
